<!-- component -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" >

        <title>Cadastro funcionario</title>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://cdn.tailwindcss.com"></script>

    </head>
    <body>
        <div class="font-sans text-gray-900 antialiased">
          <div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-[#f8f4f3]">

                <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
                    <form method="POST" action="{% url 'cadastro' %}" enctype='multipart/form-data'>
                      {%csrf_token%}
                        <div class="flex justify-center items-center py-8">
                          <img src="\static\LogoJabutiMini-removebg-preview 1.png" alt="Logo GeFrota" class="w-20 h-20  ">
                          <span class="text-2xl font-semibold">Jabuti Apps</span>
                        </div>

                            <h2>Cadastro Funcionario</h2>

                        <div>
                            <label class="block font-medium text-sm text-gray-700" for="email" value="username"></label>
                            <input type='username' 
                                name='username'
                                placeholder='Username'
                                class="w-full rounded-md py-2.5 px-4 border text-sm outline-blue-600" />                        
                        </div>

                        <div class="mt-4">
                            <label class="block font-medium text-sm text-gray-700" for="email" value="email"></label>
                            <input type='email' 
                                name='email'
                                placeholder='Email'
                                class="w-full rounded-md py-2.5 px-4 border text-sm outline-blue-600" />                        
                        </div>

                        <div class="mt-4">
                            <label class="block font-medium text-sm text-gray-700" for="cnh" value="cnh"></label>
                            <input type='cnh' 
                                name='cnh'
                                placeholder='Carteira Nacional de Habilitação'
                                class="w-full rounded-md py-2.5 px-4 border text-sm outline-blue-600" />                        
                        </div>

                        <div class="mt-4">
                            <label class="block font-medium text-sm text-gray-700" for="password" value="password"></label>
                            <div class="relative">
                                <input id="password" type="password" name="password" placeholder="Password" required autocomplete="current-password" class = 'w-full rounded-md py-2.5 px-4 border text-sm outline-blue-600'>

                                <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                                    <button type="button" id="togglePassword" class="text-gray-500 focus:outline-none focus:text-gray-600 hover:text-gray-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter"><path d="M12 4.998c-1.836 0-3.356.389-4.617.971L3.707 2.293 2.293 3.707l3.315 3.316c-2.613 1.952-3.543 4.618-3.557 4.66l-.105.316.105.316C2.073 12.382 4.367 19 12 19c1.835 0 3.354-.389 4.615-.971l3.678 3.678 1.414-1.414-3.317-3.317c2.614-1.952 3.545-4.618 3.559-4.66l.105-.316-.105-.316c-.022-.068-2.316-6.686-9.949-6.686zM4.074 12c.103-.236.274-.586.521-.989l5.867 5.867C6.249 16.23 4.523 13.035 4.074 12zm9.247 4.907-7.48-7.481a8.138 8.138 0 0 1 1.188-.982l8.055 8.054a8.835 8.835 0 0 1-1.763.409zm3.648-1.352-1.541-1.541c.354-.596.572-1.28.572-2.015 0-.474-.099-.924-.255-1.349A.983.983 0 0 1 15 11a1 1 0 0 1-1-1c0-.439.288-.802.682-.936A3.97 3.97 0 0 0 12 7.999c-.735 0-1.419.218-2.015.572l-1.07-1.07A9.292 9.292 0 0 1 12 6.998c5.351 0 7.425 3.847 7.926 5a8.573 8.573 0 0 1-2.957 3.557z"></path></svg>                        
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label class="block font-medium text-sm text-gray-700" for="password" value="password"></label>
                            <div class="relative">
                                <input id="password" type="password" name="password" placeholder="Confirmar Senha" required autocomplete="current-password" class = 'w-full rounded-md py-2.5 px-4 border text-sm outline-blue-600'>

                                <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                                    <button type="button" id="togglePassword" class="text-gray-500 focus:outline-none focus:text-gray-600 hover:text-gray-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter"><path d="M12 4.998c-1.836 0-3.356.389-4.617.971L3.707 2.293 2.293 3.707l3.315 3.316c-2.613 1.952-3.543 4.618-3.557 4.66l-.105.316.105.316C2.073 12.382 4.367 19 12 19c1.835 0 3.354-.389 4.615-.971l3.678 3.678 1.414-1.414-3.317-3.317c2.614-1.952 3.545-4.618 3.559-4.66l.105-.316-.105-.316c-.022-.068-2.316-6.686-9.949-6.686zM4.074 12c.103-.236.274-.586.521-.989l5.867 5.867C6.249 16.23 4.523 13.035 4.074 12zm9.247 4.907-7.48-7.481a8.138 8.138 0 0 1 1.188-.982l8.055 8.054a8.835 8.835 0 0 1-1.763.409zm3.648-1.352-1.541-1.541c.354-.596.572-1.28.572-2.015 0-.474-.099-.924-.255-1.349A.983.983 0 0 1 15 11a1 1 0 0 1-1-1c0-.439.288-.802.682-.936A3.97 3.97 0 0 0 12 7.999c-.735 0-1.419.218-2.015.572l-1.07-1.07A9.292 9.292 0 0 1 12 6.998c5.351 0 7.425 3.847 7.926 5a8.573 8.573 0 0 1-2.957 3.557z"></path></svg>                        
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label class="block font-medium text-sm text-gray-700" for="foto">Foto de perfil:</label>
                            <div class="relative">
                                <input type="file" name="foto" id="foto" accept="image/*" class="form-control shadow-main-color">
                            </div>
                        </div>


                        <div class="mt-4">
                            <label class="block font-medium text-sm text-gray-700" for="role" value="role">Escolha a função:</label>
                            <div class="relative">
                                <select name="role" class="form-select" id="role">
                                    {% for choice in role_choices %}
                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>       
                            </div>
                        </div>

                        <div class="mt-4">
                            <label class="block font-medium text-sm text-gray-700" for="orgao" value="orgao">Escolha o orgao:</label>
                            <div class="relative">
                                <select name="orgao" class="form-select " id="orgao">
                                    {% for i in orgaos %}
                                        <option value="{{ i.id }}">{{ i.orgao }}</option>
                                    {% endfor %}
                                </select>       
                            </div>
                        </div>

                        <div class="flex justify-center mt-4">
                          <button type="submit" class = 'ms-4 inline-flex items-center px-4 py-2 bg-blue-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-800 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150']>
                                Cadastrar
                          </button>
                        </div>
                        
                    </form>   

                </div>
            </div>
        </div>

    <script>
        const passwordInput = document.getElementById('password');
        const togglePasswordButton = document.getElementById('togglePassword');

        togglePasswordButton.addEventListener('click', () => {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
        });
    </script>   

    </body>
</html>