{% extends "base.html" %}

{% block content %}

        <main class="w-full flex-grow p-6">
                <h1 class="text-3xl text-black pb-6">Dashboard</h1>
                
                <!-- Tabela -->       
            <div class="container mx-auto px-4 py-8">
                <div class="mt-4">
                <h1 class=" text-2xl font-bold mb-5">Veiculos</h1>

                <table class="w-full rounded-lg ">
                    <thead>
                    <tr>
                        <th class="text-center text-gray-500 p-2">Motorista</th>
                        <th class="text-center text-gray-500 p-2">Carro</th>
                        <th class="text-center text-gray-500 p-2">Situação</th>
                        <th class="text-center text-gray-500 p-2">Horário</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                        <td class="text-left p-2"></td> <!-- motorista -->
                        <td class="text-left p-2"></td> <!-- Veiculos -->
                        <td class="text-left p-2"></td> <!-- situacao -->
                        <td class="text-left p-2"></td> <!-- horario -->
                    </tr>
                    <tr>
                        <td class="text-left p-2"></td>
                        <td class="text-left p-2"></td>
                        <td class="text-left p-2 "></td>
                        <td class="text-left p-2"></td>
                    </tr>
                    <tr>
                        <td class="text-left p-2"></td>
                        <td class="text-left p-2"></td>
                        <td class="text-left p-2 "></td>
                        <td class="text-left p-2"></td>
                    </tr>
                    </tbody>
                </table>
                </div>

<!-- card -->
        <h2 class="text-2xl font-bold mt-16 " >Lembrets</h2>
        <div class="lembrets grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-4 ">
            <div class="p-4 rounded shadow">
            <h2 class="text-xl font-bold mb-2"></h2> <!-- motorista ou Veiculos -->
            <p class="text-red-500"></p> <!-- mensagem -->
            </div>
            <div class="p-4 rounded shadow">
            <h2 class="text-xl font-bold mb-2"></h2>
            <p class="text-red-500"></p>
            </div>
            <div class=" p-4 rounded shadow">
            <h2 class="text-xl font-bold mb-2"></h2> 
            <p class="text-red-500"></p>
            </div>
        </div>

        </div>

<!-- grafico -->
                <div class="flex flex-wrap mt-6">
                    <div class="w-full lg:w-1/2 pr-0 lg:pr-2">
                        <p class="text-xl pb-3 flex items-center">
                            <i class="fas fa-plus mr-3"></i> Quantidades
                        </p>
                        <!-- Crie um elemento <canvas> para o gráfico -->
                        <div class="p-6 bg-white">
                            <canvas id="myChart" width="800" height="400"></canvas>
                        </div>
                    </div>

<!-- graficoLinhas -->
                <div class="grid grid-cols-* sm:grid-cols-1 md:grid-cols-2 gap-2 mt-4 ">
                    <div class="relative mr-4 flex flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                    <div class="relative mx-4 mt-4 flex flex-col gap-4 overflow-hidden rounded-none bg-transparent bg-clip-border text-gray-700 shadow-none md:flex-row md:items-center">
                    <div>
                    <h2 class="block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">
                    Grafico linha
                    </h2>

                    </div>
                    </div>
                    <div class="pt-2 px-2 pb-0 place-items-center">
                    <div id="bar-chart"></div>
                </div>
            </div>    

<!-- grafico pizza -->
<div class="relative flex flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
    <div class="relative mx-4 mt-4 flex flex-col gap-4 overflow-hidden rounded-none bg-transparent bg-clip-border text-gray-700 shadow-none md:flex-row md:items-center">
      <div>
        <h2 class="block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">
          Grafico pizza
        </h2>
      </div>
    </div>
    <div class="py-6 mt-4 grid place-items-center px-2">
      <div id="pie-chart"></div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/tailwindcss@^2/dist/tailwind.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


                    <script>
                        // Atualizar dados
                        function atualizarDados() {
                            const dados = {
                                veiculos: [
                                {
                                    motorista: "lucas",
                                    carro: "001",
                                    situacao: "OK",
                                    horario: "09:00h às 22:00h"
                                },
                                {
                                    motorista: "Pedro",
                                    carro: "002",
                                    situacao: "OK",
                                    horario: "09:00h às 22:00h"
                                },
                                {
                                    motorista: "Marcos",
                                    carro: "003",
                                    situacao: "Pedencia",
                                    horario: "09:00h às 22:00h"
                                }
                                ],
                                lembretes: [
                                    {
                                    motorista: "Veiculo 01 Honda <br> Em manutençao",
                                    mensagem: "Em manutenção entre 12/01 a 14/01."
                                    },

                                    { 
                                    motorista: "Solicitação de abastecimento por Motorista 01",
                                    mensagem: "Justificativa: transporte de materiais para a sede. "
                                    },
                                    {
                                    veiculo: "Veiculo 02 Civic <br> liberado da manutenção",
                                    mensagem: "Buscar veiculo no local combinado antes das 18h do dia 12/03"
                                    }
                                ]
                            };

                            //  tabela de veículos
                            const tabelaVeiculos = document.querySelector('table tbody');
                            tabelaVeiculos.innerHTML = ''; // Limpar tabela antes de adicionar novos dados
                            for (const veiculo of dados.veiculos) {
                                const linha = `
                                <tr>
                                    <td class="border-b-2 border-gray-200 text-center p-2">${veiculo.motorista}</td>
                                    <td class="border-b-2 border-gray-200 text-center p-2">${veiculo.carro}</td>
                                    <td class="border-b-2 border-gray-200 text-center p-2 text-${veiculo.situacao === 'OK' ? 'green-600' : 'red-600'}">${veiculo.situacao}</td>
                                    <td class="border-b-2 border-gray-200 text-center p-2">${veiculo.horario}</td>
                                </tr>
                                `;
                                tabelaVeiculos.innerHTML += linha;
                            }

                            //  lembretes
                            const lembretesContainer = document.querySelector('.lembrets');
                            lembretesContainer.innerHTML = ''; // Limpar lembretes antes de adicionar novos
                            for (const lembrete of dados.lembretes) {
                                const lembreteHTML = `
                                <div class="transition ease-in-out delay-150 bg-gray-200 hover:-translate-y-1 hover:scale-200 hover:bg-gray-300 duration-300   rounded-lg p-4 rounded-md shadow-lg ">
                                <h2 class="text-xl font-bold mb-2">${lembrete.motorista ? `<p>${lembrete.motorista}</p>` : `<p>${lembrete.veiculo}</p>`}</h2>
                                <p class="text-xl text-center text-red-600">${lembrete.mensagem}</p>
                                </div>
                                
                                `;
                                lembretesContainer.innerHTML += lembreteHTML;
                            }

                            }
                            setInterval(atualizarDados, 5000);
                            window.onload = atualizarDados;
                        // fim 

                        // Dados das quantidades (substitua pelos valores reais)
                        const quantidadeVeiculos = {{ quantidade_veiculos|safe }};
                        const quantidadeAgendamentos = {{ quantidade_agendamentos|safe }};
                        const quantidadeManutencoes = {{ quantidade_manutencoes|safe }};
                        const quantidadeAbastecimentos = {{ quantidade_abastecimentos|safe }};

                        // Crie o gráfico
                        const ctx = document.getElementById('myChart').getContext('2d');
                        const myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['Veículos', 'Agendamentos', 'Manutenções', 'Abastecimentos'],
                                datasets: [{
                                    label: '{{orgao}}',
                                    data: [quantidadeVeiculos, quantidadeAgendamentos, quantidadeManutencoes, quantidadeAbastecimentos],
                                    backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(54, 162, 255, 0.2)', 'rgba(255, 99, 132, 0.2)', 'rgba(255, 206, 86, 0.2)'],
                                    borderColor: ['rgba(75, 192, 192, 1)', 'rgba(54, 162, 255, 1)', 'rgba(255, 99, 132, 1)', 'rgba(255, 206, 86, 1)'],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });

                // configGraficoLinhas        
                const chartConfig = {
  series: [
    {
      name: "Gastos",
      data: [50, 40, 300, 320, 500, 350, 200, 230, 500, 340, 25, 456],
    },
  ],
  chart: {
    type: "bar",
    height: 400,
    toolbar: {
      show: false,
    },
  },
  title: {
    show: "",
  },
  dataLabels: {
    enabled: false,
  },
  colors: ["#020617"],
  plotOptions: {
    bar: {
      columnWidth: "50%",
      borderRadius: 2,
    },
  },
  xaxis: {
    axisTicks: {
      show: false,
    },
    axisBorder: {
      show: false,
    },
    labels: {
      style: {
        colors: "#616161",
        fontSize: "12px",
        fontFamily: "inherit",
        fontWeight: 400,
      },
    },
    categories: [
      "Jan",
      "Fev",
      "Mar",
      "Abr",
      "Mai",
      "Jun",
      "Jul",
      "Ago",
      "Set",
      "Out",
      "Nov",
      "Dez",
    ],
  },
  yaxis: {
    labels: {
      style: {
        colors: "#616161",
        fontSize: "12px",
        fontFamily: "inherit",
        fontWeight: 400,
      },
    },
  },
  grid: {
    show: true,
    borderColor: "#dddddd",
    strokeDashArray: 5,
    xaxis: {
      lines: {
        show: true,
      },
    },
    padding: {
      top: 5,
      right: 20,
    },
  },
  fill: {
    opacity: 0.8,
  },
  tooltip: {
    theme: "dark",
  },
};
 
const chart = new ApexCharts(document.querySelector("#bar-chart"), chartConfig);
 
chart.render();        

// ConfigGraficoPizza
const pizzaconfig = {
  series: [44, 55, 13, 43, 22],
  chart: {
    type: "pie",
     width: 500, 
    height: 400, 
    toolbar: {
      show: false,
    },
  },
  title: {
    show: "",
  },
  dataLabels: {
    enabled: false,
  },
  labels: ['Manutenção', 'Gasolina', 'transportes', 'Defeitos', 'Em uso'],
  colors: ["#020617", "#ff8f00", "#00897b", "#1e88e5", "#d81b60"],
  legend: {
    show: true,
    position: "bottom",
  markers: {
          width: 15,
          height: 15,
}
  },
};
 
const pizza = new ApexCharts(document.querySelector("#pie-chart"), pizzaconfig);


pizza.render(); 


                    </script>
                </div>
        </main>

{%endblock%}
