{% extends "base.html" %}

{% block page_content %}

        <div class="mw6 center pa3 sans-serif">

            <h1 class="mb4">Motorista: {{ drivers.nome | linebreaks }}</h1>

            <header class="b mb2">CNH: {{ drivers.cnh }}</header>

        {% for v in vehicles %}

            <div class="pa2 mb3 striped--near-white">

                <div class="pl2">

                    <p class="mb2">Marca/Modelo: {{ v.marca }} {{ v.modelo }}</p>

                    <p class="mb2">Ano: {{ v.ano }}</p>

                    <p class="mb2">Vin: {{ v.vin }}</p>

                </div>

            </div>

        {% endfor %}

        </div>

{% endblock %}

