{% extends "base.html" %}

{% block content %}

<main class="w-full flex-grow p-6 mt-6">
        <div class="flex justify-center items-start gap-x-4">
            <div class="relative flex flex-col items-center rounded-[20px] w-1/4 mx-12 bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none p-3">
                <div class="mt-2 mb-8 w-full">
                    <h4 class="px-2 text-xl font-bold text-navy-700 dark:text-white">
                    Detalhes Do Carro
                    </h4>
                </div> 
                <div class="grid grid-cols-2 gap-4 px-2 ">
                    <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Marca/Modelo:</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        {{ veiculo.marca }} {{ veiculo.modelo }}
                    </p>
                    </div>

                    <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Ano:</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        {{ veiculo.anoDeFabricacao }}
                    </p>
                    </div>

                    <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">CRV:</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        {{ veiculo.crv }}
                    </p>
                    </div>

                    <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Cor: </p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        {{ veiculo.cor }}
                    </p>
                    </div>

                    <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Placa:</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        {{ veiculo.placa }}
                    </p>
                    </div>

                    <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Quilometragem:</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        {{ veiculo.quilometragem }}
                    </p>
                    </div>

                    <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                        <p class="text-sm text-gray-600">Disponivel:</p>
                        <p class="text-base font-medium text-navy-700 dark:text-white">
                            {{ veiculo.estaDisponivel }}
                        </p>
                        </div>

                    <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Gasolina: </p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        {{ veiculo.precisaAbastecer }}
                    </p>
                    </div>

                    <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Seguro:</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        {{ veiculo.temSeguro }}
                    </p>
                    </div>

                    <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Alugado:</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        {{ veiculo.alugado }}
                    </p>
                    </div>
                    
                    <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Precisa de Manutenção:</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        {{ veiculo.precisaDeManutencao }}
                    </p>
                    </div>
                </div>
            </div>
            <div class="relative flex flex-col items-center rounded-[20px] w-1/4 mx-12 bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none p-3 h-auto">
                <div class="mt-2 mb-8 w-full">
                    <h4 class="px-2 text-xl font-bold text-navy-700 dark:text-white">
                    Manutenção
                    </h4>
                </div>
                {% if manutencoes %}
                    {% for manutencao in manutencoes %} 
                    <div class="grid grid-cols-2 gap-4 px-2 w-[500px]">
                        <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                        <p class="text-sm text-gray-600">Tipo de Manutenção:</p>
                        <p class="text-base font-medium text-navy-700 dark:text-white">
                             {{ manutencao.tipoManutencao }}</p>
                             {% if manutencao.tipoManutencao == "Outro" %}
                                <p class="text-base font-medium text-navy-700 dark:text-white">- {{ manutencao.outraOpcao }}</p>
                             {% endif %}                           
                        </div>

                        <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                        <p class="text-sm text-gray-600">Data: </p>
                        <p class="text-base font-medium text-navy-700 dark:text-white">
                            {{ manutencao.dataEntrada }}
                        </p>
                        </div>

                        <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                        <p class="text-sm text-gray-600">Quilometragem: </p>
                        <p class="text-base font-medium text-navy-700 dark:text-white">
                            {{ manutencao.quilometragemDoVeiculo }}
                        </p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Sem manutenções.</p>
                {% endif %}
            </div> 
            <div class="relative flex flex-col items-center rounded-[20px] w-1/4 mx-12 bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none p-3 h-auto">
                <div class="mt-2 mb-8 w-full">
                    <h4 class="px-2 text-xl font-bold text-navy-700 dark:text-white">
                    Agendamentos
                    </h4>
                </div>
                {% if manutencoes %}
                    {% for manutencao in manutencoes %} 
                    <div class="grid grid-cols-2 gap-4 px-2 w-[500px]">
                        <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                        <p class="text-sm text-gray-600">Tipo de Manutenção:</p>
                        <p class="text-base font-medium text-navy-700 dark:text-white">
                             {{ manutencao.tipoManutencao }}</p>
                             {% if manutencao.tipoManutencao == "Outro" %}
                                <p class="text-base font-medium text-navy-700 dark:text-white">- {{ manutencao.outraOpcao }}</p>
                             {% endif %}                           
                        </div>

                        <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                        <p class="text-sm text-gray-600">Data: </p>
                        <p class="text-base font-medium text-navy-700 dark:text-white">
                            {{ manutencao.dataEntrada }}
                        </p>
                        </div>

                        <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                        <p class="text-sm text-gray-600">Quilometragem: </p>
                        <p class="text-base font-medium text-navy-700 dark:text-white">
                            {{ manutencao.quilometragemDoVeiculo }}
                        </p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Sem Agendamentos.</p>
                {% endif %}
        </div>
</main>
{% endblock %}