{% extends "base.html" %}

{% block page_content %}
{% if messages %}
<ul class="messages; cor:red">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="mw6 center pa3 sans-serif">
    <h1> Detalhes Do Carro </h1>
    <div class="pa2 mb3 striped--near-white">
        <div class="pl2">
            <p class="mb2">Id: {{ veiculo.id }}</p>
            <p class="mb2">Marca/Modelo: {{ veiculo.marca }} {{ veiculo.modelo }}</p>
            <p class="mb2">Ano: {{ veiculo.anoDeFabricacao }}</p>
            <p class="mb2">CRV: {{ veiculo.crv }}</p>
            <p class="mb2">Cor: {{ veiculo.cor }}</p>
            <p class="mb2">Placa: {{ veiculo.placa }}</p>
            <p class="mb2">Quilometragem: {{ veiculo.quilometragem }}</p>
            <p class="mb2">Disponivel: {{ veiculo.estaDisponivel }}</p>
            <p class="mb2">Gasolina: {{ veiculo.precisaAbastecer }}</p>
            <p class="mb2">Seguro: {{ veiculo.temSeguro }}</p>
            <p class="mb2">Alugado: {{ veiculo.alugado }}</p>
            <p class="mb2">Precisa de Manutenção: {{ veiculo.precisaDeManutencao }} </p> <br>

            {% if not veiculo.precisaDeManutencao %}
                <form action="{% url 'solicitar_manutencao' veiculo.id %}" method="post" style="display: inline-block; margin-left: 80px;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Solicitar Manutenção</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="justify-content-between align-items-center">
        <h2 style="display: inline-block;">Manutenções</h2>
        <a href="{% url 'criar_manutencao_veiculo' veiculo.id %}" class="btn btn-primary" style="margin-left: 80px;">Criar Manutenção</a>
    </div>
    <div class="mw6 center pa3 sans-serif">
        {% if manutencoes %}
            {% for manutencao in manutencoes %}
                <div class="pa2 mb3 striped--near-white">
                    <div class="pl2">
                        <p class="mb2">Tipo de Manutenção: {{ manutencao.tipoManutencao }}</p>
                        {% if manutencao.tipoManutencao == "Outro" %}
                            <p class="mb2">- {{ manutencao.outraOpcao }}</p>
                        {% endif %}
                        <p class="mb2">Data: {{ manutencao.data }}</p>
                        <p class="mb2">Quilometragem: {{ manutencao.quilometragemDoVeiculo }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Sem manutenções.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
