{% extends "base.html" %}

{% block page_content %}
    <div class="mw6 center pa3 sans-serif">
        <form action="{% url 'veiculos' %}" method="GET">
            <input type="checkbox" name="mostrar_disponiveis" id="mostrar_disponiveis" {% if mostrar_disponiveis %}checked{% endif %}>
            <label for="mostrar_disponiveis">Mostrar Carros Disponíveis</label>          
            <button type="submit">Filtrar</button>
        </form>
        <br><a href="{% url 'cadastrar_veiculo' %}"><button>Cadastrar Veiculo</button></a><br><br>

        {% for veiculo in veiculos %}
            <div class="pa2 mb3 striped--near-white">
                <div class="pl2">
                    <a href="{% url 'detalhe_veiculo' veiculo.id %}">
                        <p class="mb2">Id: {{ veiculo.id}}</p>
                        <p class="mb2">Marca/Modelo: {{ veiculo.marca }} {{ veiculo.modelo }}</p>
                        <p class="mb2">Cor: {{ veiculo.cor }}</p>
                        <p class="mb2">Placa: {{ veiculo.placa}}</p>
                        <p class="mb2">Disponivel: {{ veiculo.estaDisponivel }}</p>
                        <p class="mb2">Precisa de Manutenção: {{ veiculo.precisaDeManutencao }}</p>
                    </a>
                    <br><a href="{% url 'editar_veiculo' veiculo.id %}"><button>Editar</button></a>
                    <a href="{% url 'deletar_veiculo' veiculo.id %}"><button>Deletar</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
