{% extends "base.html" %}

{% block content %}


<main class="w-full flex-grow p-6 mt-6">
        <div class="flex justify-center items-start gap-x-4">
            <div class="relative flex flex-col items-center rounded-[20px] w-1/4 mx-12 bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none p-3">
                <div class="mt-2 mb-8 w-full">
                    <h4 class="px-2 text-xl font-bold text-navy-700 dark:text-white">
                    Detalhe do Agendamento
                    </h4>
                </div> 
                <div class="grid grid-cols-1 gap-4 px-2 ">

                    <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Origem:</p>
                    
                    </div>

                    <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Destino:</p>
                    
                    </div>

                    <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Veiculo: </p>
                    
                    </div>

                    <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Horario de Entrada:</p>
                    </div>

                    <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                        <p class="text-sm text-gray-600">Tempo da Rota:</p>
                        </div>
                
                </div>
                
            </div>
            <div id="map" style="height: 500px; width: 50%;"></div>
                <div>
                <p id="output"></p>
                </div>
        </div>
</main>

<script>
    let map;
    let directionsService;
    let directionsRenderer;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 2.821345, lng: -60.673131}, // Centro do mapa em São Paulo, Brasil
            zoom: 8
        });

        directionsService = new google.maps.DirectionsService();
        directionsRenderer = new google.maps.DirectionsRenderer();
        directionsRenderer.setMap(map);
        initAutocomplete();
    }

    function calculateRoute() {
        const originPlace = autocompleteOrigem.getPlace();
        const destinationPlace = autocompleteDestino.getPlace();

        const origin = originPlace.geometry.location;
        const destination = destinationPlace.geometry.location;

        const request = {
            origin: origin,
            destination: destination,
            travelMode: 'DRIVING'
        };

        directionsService.route(request, (result, status) => {
            if (status == 'OK') {
                directionsRenderer.setDirections(result);
                const distance = result.routes[0].legs[0].distance.text;
                const duration = result.routes[0].legs[0].duration.text;
                document.getElementById('output').innerHTML = `Distância: ${distance}, Tempo: ${duration}`;
            } else {
                alert('Não foi possível calcular a rota: ' + status);
            }
        });
    }

    // Carregar o mapa após o carregamento da página
    google.maps.event.addDomListener(window, 'load', initMap);
</script>


{% endblock %}